<p>

    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i><span matBadge="4" matBadgeOverlap="false"></span>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>


    </mat-toolbar>
</p>

<ul>
    <li><img src="https://avatars2.githubusercontent.com/u/29269517?s=400&u=f00f66bbfbd448a216dd71ad469e69b37be2587b&v=4"></li>

    <h2 class="code">Hello, I'm Dhanushka Srinivas.<br>I'm a full-stack developer<br></h2>
</ul>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-divider></mat-divider>